.LoginForm{
    display: flex;
    flex-direction: column;
    
    justify-content: space-between;
    align-items: center;
   height: 20vh;
  
    
}

.validemail{
    visibility: hidden;
    color: red; 
}

.invalidemail{
    visibility: visible;
    color: red;
}
