.LoginForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 20vh;
  width: 300px;
}

.validemail {
  visibility: hidden;
  color: red;
}

.invalidemail {
  visibility: visible;
  color: red;
  padding-bottom: 5px;
}


input[type="text"],
input[type="password"] {
  margin: 10px 0px;
  padding-bottom: 10px;
  padding-top: 10px;
  padding: 10px;
  width: 94.4%;
  font-size: 14px;
  color: black;
  border: 1px solid black;
  background: none;
  border-radius: 4px;
  outline: none;
}

.loginbtn {
  width: 100%;
  padding: 0.5rem 0.75rem;
  background-color: #00a1f1;
  border-radius: 4px;
  color: white;
  font-size: 14px;
  font-weight: 500;
  border: none;
  background-image: none;
}

.loginbtn:hover {
  background-color: #258fff;
}
.login{
  color: #00a1f1;
  font-size: 40px;
}
.LoginForm{
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /*max-width: 400px;*/
  width: 400px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

