.buttons button{
  background-color: #00a1f1;
  border: 1px solid #007bff; 
  color: white; 
  padding: 10px 24px;
  cursor: pointer; 
  float: left; 
}
.buttons button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}
.buttons:after {
    content: "";
    clear: both;
    display: table;
}
.area{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.buttons button:hover {
    background-color: #3e8e41;
}
