.login-btn{
    width: 100px;
    padding: 10px 15px;
    border-radius: 4px;
    font-family: sans-serif;
    font-weight: bold;
    box-shadow: none;
    font-size: 15px;
    background-color: teal;
    border: 0;
}

.login-btn:hover{
    background-color: grey;
    cursor: pointer;
}