.admin-table {
	border-collapse: collapse;
	margin: 25px 0;
	font-size: 0.9em;
	min-width: 400px;
	overflow: auto;
	border-radius: 5px 5px 0 0;
	box-shadow: 0 0 20px rgb(0, 0, 0, 0.15);
}

.admin-table thead tr {
	background-color: #00a1f1;
	color: white;
	text-align: left;
	font-weight: bold;
}

.admin-table th,
.admin-table td {
	padding: 12px 15px;
}

.admin-table tbody tr {
	border-bottom: 1px solid #dddddd;
}

.admin-table tbody tr:nth-of-type(even) {
	background-color: #e4fbff;
}

.admin-table tbody tr:last-of-type {
	border-bottom: 2px solid #00a1f1;
}
