* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  font-family: sans-serif;
}

.container {
  width: 100vw;
  height: 91.3vh;
  background: #f2f9fe;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

