.header {
  display: flex;
  justify-content: center;
  background-color: #f2f9fe;
  grid-column: 2 / 3;
  border-bottom: 1px solid #c3e0f3;
  padding: 10px;
}

.header-title {
  display: flex;
  font-size: 1.5em;
  align-self: center;
  flex-grow: 3;
}

.header-icon {
  display: flex;
  justify-self: flex-end;
  color: #c3e0f3;
}
