.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f8fafc;
    padding: 12px;
}

.logo{
    padding-left: 100px;
    cursor: pointer;
    font-size: 42px;
}

ul{
    flex: 1;
    padding-right: 100px;
    text-align: right;
    list-style: none;
}

ul li{
    display: inline-block;
    margin: 10px 50px;
    font-size: 15px;
    cursor: pointer;
     
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

a:visited{
    color: rgb(164, 164, 164);
}
a:hover,a:focus{
    color: #5eacff;
}

a:active{
    color: white;
}
