.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	/* background-color: #f2f9fe; */
	padding: 12px;
}

.nav-links-container {
	flex: 1;
	padding-right: 100px;
	text-align: right;
	list-style: none;
}

.nav-link {
	display: inline-block;
	margin: 10px 50px;
	font-size: 15px;
	cursor: pointer;
}
