.body {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 60px 1fr;
}
.header {
  background-color: #f2f9fe;
  grid-column: 2 / 3;
  border-bottom: 1px solid #c3e0f3;
  padding: 10px;
}

.sidebar {
  grid-column: 1/2;
  grid-row: 1/3;
  color: black;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.main {
  background-color: #f2f9fe;
  padding: 10px;
}
